﻿a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.display-none
{
    display:none;
}

.header
{
    background:#242d38;
    margin-left:2%;
    margin-right:2%;
    height:30px;
    width:96%;
}
.header-right
{width:89%;
}
.logo{
    margin-left:10.2%;
    margin-right:4px;
    cursor:pointer;
}
.logo,.logo img
{
    height: 19px;
    width: 19px;
    display: inline;
}
.logo img:hover{
    opacity:.75;
}

.dropdown-content {
	height: auto;
	width: 160px;
	border-radius: 3px;
    background-color: #FFFFFF;
    margin-right:4%;
}


    .common-label,.teacher-label,.student-label {
        height: 20px;
        width: 41px;
        color:  #A1A9B5;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        margin-right:12.5px;
    }
    .common-label:hover,.teacher-label:hover,.student-label:hover,.filter-text:hover,.filter-text:active{
        color:  #fff;
        text-decoration: none;
    }

.dropdown-down-arrow
{
    background: url('assets/images/icon-arrow.png');
    background-repeat: no-repeat;
   height: 6px;
    width: 16px;
    margin-top:-6%;
   
   
   
}
.filter-drps.drop-downclicked,.filter-text.drop-downclicked
{
    color:  #fff;
}


.dropdown-text
{
   color: #6C7988;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        padding-left:16px;
        padding-top:5px;
        padding-bottom:5px;
        cursor:pointer;
       
      
    
}

.dropdown-text:hover{
        background-color: #EEEEEE;
        color: #242D38;
        width:100%;
    
}

.filter-text
{
   
    height: 16px;
    width:125px;
    color:  #A1A9B5;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    margin-right:10px;
    padding-top:2px;
    cursor:pointer;
    
}


.disp-inline
{
    display:inline;
}
.disp-inline-block
{
    display:inline-block;
}
.fl-right
{
    float:right;
}
.drop-downclicked .dropdown-arrow
{
    background: url('assets/images/icon-arrow-up.png')!important;
    background-repeat: no-repeat!important;
  
}
