<div class="header-right " style="display:table-cell;vertical-align:middle;position:relative">
        <div class="logo "><img src="./assets/images/logo.svg" />"</div>
  <a class="common-label" >Classes</a>
  <a   class="teacher-label">Lessons</a>
  <a   class="teacher-label">Libraries</a>
  <a  class=" student-label display-none">Assignments</a>
</div>