<div *ngIf="dropdownStyle =='functional'">
        <div class="dropdown" style="padding-top:5px;float:right;margin-right:24px">
                <div class="dropbtn filter-drps " id="dropdown1" #dropDown1 (click)="toggleDropDowns($event)"><div id="unit-text-dropdown" class="filter-text " >{{selectedText}}</div><div class="dropdown-arrow dropdown-down-arrow disp-inline fl-right"></div></div>
            </div>

</div>

<div *ngIf="dropdownStyle =='content'"></div>
<div class="dropdown-content  fl-right drpdwn-filter-content" >
        <div #elem9 class=" content-filter-dDown-content hover display-none"  *ngFor="let unitVal of inputValues ; let i = index"   (click)="itemDropDownEvent($event)"><div class="dropdown-text disp-inline-block" id="{{unitVal}}">{{unitVal}}</div></div>
    </div>
    <div></div>