<div class="header" style="display:table">
        <leftheader  style="display:table-cell;vertical-align:middle;position:relative"></leftheader>
        <dropdown (toggleDropDown)="toggleDropDown($event)"   [selectedText]=selected_text  [dropdownStyle] ="'functional'"></dropdown>
       </div> 
 <dropdown (itemsDropDownEvent)="itemsDropDownEvent($event)"   [inputValues]=values  [dropdownStyle] ="'content'"></dropdown>
     